[simplematrixbotlib.config]
homeserver = "https://example.com"
username = "username" 
password = "password"
interval = 60  # Optional number of seconds for polling interval. Defaults to 3600 (1 hour).
